#tab {
  overflow: scroll;
}
#MP {
  top: 770px;
  position: absolute;
}
#Gender {
  top: 950px;
  position: absolute;
}
#Submit {
  top: 1230px;
  position: absolute;
}
#ex1 {
  top: 400px;
  position: absolute;
}
#ex2{
  top: 560px;
  position: absolute;
}
#INT{
  top: 720px;
  position: absolute;
}
#inl{
  top: 990px;
  position: absolute;
}
#stl1{
  top: 300px;
  position: absolute;
}
#stl2{
  top: 410px;
  position: absolute;
}
#stl3{
  top: 515px;
  position: absolute;
}
#stl4{
  top: 755px;
  position: absolute;
}
#far{
  top: 370px;
  position: absolute;
}
#font{
  top: 730px;
  position: absolute;
}
#font2{
  top: 875px;
  position: absolute;
}
#vyr{
  top: 1160px;
  position: absolute;
}
#ram{
  top: 1360px;
  position: absolute;
}
#prsi {
  top: 980px;
  position: absolute;
}
#del {
  top: 1350px;
  position: absolute;
}
#poz {
  top: 1730px;
  position: absolute;
}
#obr1 {
  top: 350px;
  position: absolute;
}
#obr2 {
  top: 1040px;
  position: absolute;
}
#obr3 {
  top: 1510px;
  position: absolute;
}
#obr4 {
  top: 2040px;
  position: absolute;
}
#obr5 {
  top: 2890px;
  position: absolute;
}
#obr6 {
  top: 3270px;
  position: absolute;
}
#obr7 {
  top: 3575px;
  position: absolute;
}
#obr8 {
  top: 3875px;
  position: absolute;
}
#obr9 {
  top: 4285px;
  position: absolute;
}
#obr10 {
  top: 4520px;
  position: absolute;
}
#obr11 {
  top: 4625px;
  position: absolute;
}
#obr12 {
  top: 4780px;
  position: absolute;
}
#obr13 {
  top: 5340px;
  position: absolute;
}
#obr14 {
  top: 6070px;
  position: absolute;
}
